<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static/jquery-3.5.1/jquery-3.5.1.js"></script>
	<script src="/static/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid" style="background-color: #330347">
        <div class="navbar-header" style="margin-left: 50px">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home/">WE-UI 首页</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse" style="margin-left: 150px;">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a style="color: #a59e9e" href="#" class="dropdown-togfsgle" data-toggle="dropdown">
                        项目管理 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">添加项目</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        并发管理 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">并发执行用例</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        成员管理 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user_list/">成员列表</a></li>
                        <li><a href="#">添加成员</a></li>

                    </ul>
                <li class="dropdown">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        定位器管理 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/locator_list/">定位器列表</a></li>
                        <li><a href="#">添加元素库</a></li>

                    </ul>
                <li class="dropdown">
                <li >
                    <a style="margin-left: 1000px;color: #a59e9e" disabled="True" href="#" >
                        当前用户：{{ user }}
                    </a>
                </li>
                <li>
                    <a href="/logout/" >
                       退出
                    </a>
                </li>
                <li>
                    <a href="//" >
                       修改密码
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </nav>

</body>
</html>